body{
    background-color: #212529;
    color: white;
}
h1{
    font-size:50px;
    text-align: center;
}
iframe{
    height: 40vh;
}
p,.submitButton{
    padding-top:0.5vh;
    font-size: 22px;
}
.backToTop:hover{
    color: orangered;
    cursor: pointer;
}
.cardImageCustom{
    height: 40vh;   
    object-fit: cover;
}
.contactImageCustom{
    height: 80vh;
    width: 100%;
}
.connerDeFeoNavigation{
    font-size: 16px;
}
.formNameEmail{
    height: 7vh;
}
.formMessage{
    height: 14vh;
}
.formNameEmail,.formMessage{
    margin-top: 1vh;
    margin-bottom: 1vh;
}
.decorativeLine{
    background-color: black;
    height: 0.29vh;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.githubLink{
    text-decoration: none;
}
.githubLink:hover{
    text-decoration: underline;
}
.linkedin:hover,.submitButton:hover{
    color: orangered;
}
.navbar{
    height: 100px;
}
.navButton{
    width: 125px;
    margin:10px;
}
.navButton,.resumeDownload{
    padding:7px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    border-radius: 15px;
}
.navButton:hover,.resumeDownload:hover{
    background-color: orangered;
    border: 0.1px solid black
}
.professionalStyling{
    width: 400px;
}
.professionalStyling,.contactImageCustom{
    object-fit:cover;
    box-shadow:5px 5px rgb(255, 255, 255);
    border:5px groove black;
    border-radius: 10px;
}
.projectCardCustom{
    height: 46vh;
}
.projectCardCustom:hover,.navButton:hover,.resumeDownload:hover{
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}
.pTop{
    padding-top:8vh;
    padding-bottom:2vh;
}
.resumeDownload{
    font-size: 22px;
}
.skillImages{
    width: 75px;
    height: 75px;
    background-color: lightgray;
    padding: 8px;
    border-radius: 15px;
    color: black;
    font-size: 1vw;
}
.submitButton {
    color: white; 
}
@media(min-width: 300px){
    .connerDeFeoNavigation{
        font-size: 24px;
    }
}
@media(min-width: 992px){
    iframe{
        height: 80vh;
    }
    .cardImageCustom{
        height: 65vh;
        object-fit: cover;
    }
    .projectCardCustom{
        height: 70vh;
    }
    .navButton{
        width: 150px;
        font-size: 20px;
    }
    .connerDeFeoNavigation{
        font-size: 42px;
    }
}